In [ ]:
"""
This script is responsible for reading the datasets and labeling the images. 
The images are labeled according to their folder name. 
In this case, there are two folders: "dangerous" and "safe". 
The script reads all the images in the dataset and assigns the corresponding label, generating a csv file with the results.
"""

In [1]:
import os
import pandas as pd

In [5]:
dataset_path = "../dataset"

image_paths = []
labels = []

In [ ]:
for class_name in ["dangerous", "safe"]:
    class_path = os.path.join(dataset_path, class_name)
    
    for filename in os.listdir(class_path):
        if filename.endswith(('.jpg', '.png', '.jpeg')):
            image_paths.append(os.path.join(class_path, filename))
            labels.append(class_name)


df = pd.DataFrame({"filename": image_paths, "label": labels})
df.to_csv("image_labels.csv", index=False)

In [8]:
df

                               filename      label
0    ../dataset/dangerous/knife_365.jpg  dangerous
1    ../dataset/dangerous/knife_371.jpg  dangerous
2    ../dataset/dangerous/knife_359.jpg  dangerous
3    ../dataset/dangerous/knife_167.jpg  dangerous
4    ../dataset/dangerous/knife_173.jpg  dangerous
..                                  ...        ...
647         ../dataset/safe/image85.jpg       safe
648         ../dataset/safe/image46.jpg       safe
649          ../dataset/safe/image3.jpg       safe
650        ../dataset/safe/image111.jpg       safe
651        ../dataset/safe/image307.jpg       safe

[652 rows x 2 columns]